body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: gold;
}

.container {
    padding: 25px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

button {
    background: #222;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: gold;
    color: black;
}

footer {
    background: #222;
    text-align: center;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive navbar */
@media(max-width:600px){
    nav a {
        display: block;
        margin: 8px 0;
    }
}
